<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Voice recorder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--   
  <ion-button (click)="startRecording()" expand="full">Start</ion-button>
  <ion-button (click)="stopRecording()" expand="full" color="danger">Stop</ion-button> -->


  <ion-list>
    <ion-item button *ngFor="let f of storedFileNames" (click)="playFile(f)" detail="false">
      {{f}}

      <ion-button slot="end" (click)="deleteRecording(f)" fill="clear" color="danger">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <span *ngIf="!recording">
          Press
        </span>
        <span *ngIf="recording">
          {{durationDisplay}}
        </span>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" #recordbtn>
          <ion-icon name="mic-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>